.c-content {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    height: 88vh;
}

.c-drawer-content {
    height: 100%;
    width: 100%;
    background-color: #202025;
    color: #fff;
}