.c-button {
    padding: 1rem;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.c-button--primary {
    background-color: #111;
    color: #fff;
    text-transform: uppercase;
}

.c-button--primary:hover {
    background-color: #000;
}

.c-button--primary:disabled {
    background-color: #999;
    color: #fff;
    cursor: not-allowed;
}

.c-button--expanded {
    display: block;
    width: 100%;
}