.l-cart {
    background-color: #202025;
}

.c-cart-header__title {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.c-cart-header__icon {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}

.c-cart-header__quantity {
    color: #222;
    position: absolute;
    z-index: 1;
    display: block;
    top: 60%;
    left: 50%;
    font-size: 0.825rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #dfbd00;
    line-height: 1.5rem;
    text-align: center;
}

.c-cart-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #000;
    background-color: #222;
}

.c-cart-item__title {
    font-size: 1.2rem;
    margin: 0;
    color: #fff;
}

.c-cart-item__image {
    display: block;
    width: 100%;
}

.c-cart-item__description {
    color: #999;
    margin: 0;
}

.c-cart-item__price {
    position: absolute;
    right: 1rem;
    bottom: 0;
}

.c-cart-item__remove {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: 0 none;
    background-image: url('../images/close-black.png');
    font-size: 0;
    width: 0.875rem;
    height: 0.875rem;
    text-indent: -500rem;

    &:hover {
        background-image: url('../images/close-white.png');
    }
}

.c-cart-item.c-cart-item--is-hovered {
    opacity: 0.5;
    background-color: #131316;
    text-decoration: line-through;
}

.c-cart-item--is-hovered {
    & .c-cart-item__price {
        text-decoration: line-through;
    }
}

.c-cart-list {
    max-height: 40vh;
    overflow: auto;
}

.c-cart-empty {
    text-align: center;
}

.c-cart-summary {
    display: flex;
    padding: 1rem;
    text-transform: uppercase;
}

.c-cart-summary__title {
    color: #fff;
    flex-shrink: 0;
}

.c-cart-summary__total {
    flex-grow: 1;
    text-align: right;
}

.c-cart-summary__price {
    margin: 0;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.c-cart-summary__installments {
    color: #999;
    margin: 0;
}

.c-cart-buy {
    padding: 0 1rem;
}
