.c-drawer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 90vh;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;

    @media (min-width: 30rem) {
        width: 75%;
    }
}

.c-drawer--is-open {
    transform: translateX(0%);
}