.l-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.l-grid__item {
    @media (min-width: 37.5rem) {
        flex-direction: row;
        flex-basis: 50%;
    }

    @media (min-width: 60rem) {
        flex-basis: 33.33%;
    }
}