.c-header {
    background-color: #222;
}
.c-header__content {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.c-header__logo {
    color: #fff;
    width: 10rem;
    margin: 0;
}

.c-header__logo-image {
    display: block;
    width: 100%;
}

.c-header__cart {
    position: relative;
    margin-left: auto;
    color: #fff;
    text-decoration: none;
}