.c-media-object {
    display: flex;
}

.c-media-object__image {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.c-media-object__image--left {
    margin-right: 1rem;
}

.c-media-object__content {
    flex-grow: 1;
}