.c-price {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.c-price__tag {
    color:#222;
    font-size: 1em;
}

/* changed to em to scale well */
.c-price__tag--emphasis {
    font-size: 1.25em;
}

.c-price--inverse {
    color: #dfbd00;
}

.c-price--big {
    font-size: 1.5rem;
}