.c-product-list {
    padding-top: 2rem;
}

.c-product {
    text-align: center;
    margin-bottom: 4rem;
}
.c-product__image {
    display: block;
    margin: 0 auto;
    background-color: #ccc;
}
.c-product__title {
    font-size: 1rem;
    position: relative;
    margin-bottom: 1rem;

    &::after {
        content: '';
        display: block;
        height: 0.25rem;
        width: 2rem;
        margin: 1rem auto 0;
        background-color: #dfbd00;
    }
}
.c-product__price {
    justify-content: center;
    margin: 0;
}
.c-product__installments {
    color: #999;
    font-size: 0.825rem;
    margin: 0 0 1rem;
}